<!-- Navbar LEGACY -->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #353d60;">Garage</span><span style="color: #F5756B;">Meet</span></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Band</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Create a Post</a>
          </li>
          
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- Navbar LEGACY-->
  <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="False"
    aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button> -->


  <!-- Navbar 2.0 - Tucker -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <a class="navbar-brand" href="homepage"> <img src="../../assets/logo.svg" class="imgbackground" style="height: 80px;">  <span style="color: #353d60; font-family: 'republican';">Garage</span><span style="color: #F5756B; font-family: 'republican';">Meet</span></a>
    
    <div id="button list">
      <table id="navButtons">
        <tr id="navRow">

          <td><button type="submit" [routerLink]="['../homepage']">Home</button></td>
          <td><button type="submit" [routerLink]="['../userprofile']">User Profile</button></td>
          <td><button type="submit" [routerLink]="['../homepage']">Band (No Component Yet)</button></td>
          <td><button type="submit" [routerLink]="['../post']">Create a Post</button></td>
          
          
        </tr>
        
      </table>

    </div>

  </nav>
  <!-- Navbar 2.0 - Tucker -->