<!-- Navbar LEGACY -->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #353d60;">Garage</span><span style="color: #F5756B;">Meet</span></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Band</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Create a Post</a>
          </li>

        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- Navbar LEGACY-->


  <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="False"
    aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>

  </button> -->


  <!-- Navbar 2.0 - Tucker -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <a class="navbar-brand" href="homepage"> <img src="../../assets/logo.svg" class="imgbackground" style="height: 80px;">  <span style="color: #353d60; font-family: 'republican';">Garage</span><span style="color: #F5756B; font-family: 'republican';">Meet</span></a>

    <div id="button list">
      <table id="navButtons">
        <tr id="navRow">

          <td><button type="submit" [routerLink]="['../homepage']">Home</button></td>
          <td><button type="submit" [routerLink]="['../userprofile']">User Profile</button></td>
          <td><button type="submit" [routerLink]="['../bandPage']">Band</button></td>
          <td><button type="submit" [routerLink]="['../post']">Create a Post</button></td>


        </tr>

      </table>

    </div>

  </nav> -->
  <!-- Navbar 2.0 - Tucker -->

  <!-- Navbar 3.0 - Donte & Bailey -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" >GarageMeet</a>

    <!-- Toggle button -->
    <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button> -->

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" [routerLink]="['../homepage']">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" [routerLink]="['../userprofile']">
            <div>
              <i class="fas fa-user-alt fa-lg mb-1"></i>
              <!-- <span class="badge rounded-pill badge-notification bg-dark">11</span> -->
            </div>
            User
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-disabled="true" [routerLink]="['../bandPage']">
            <div>
              <i class="fas fa-users fa-lg mb-2"></i>
              <!-- <span class="badge rounded-pill badge-notification bg-dark">11</span> -->
            </div>
            Band
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-disabled="true" [routerLink]="['../post']">
            <div>
              <i class="fas fa-comment-alt fa-lg mb-1"></i>
              <!-- <span class="badge rounded-pill badge-notification bg-dark">11</span> -->
            </div>
            Posts
          </a>
        </li>
          <!-- Dropdown menu -->
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul> -->
      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <!-- <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fas fa-bell fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark">11</span>
            </div>
            Messages
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fas fa-globe-americas fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark">11</span>
            </div>
            News
          </a>
        </li>
      </ul> -->
      <!-- Right links -->

      <!-- Search form -->
      <!-- <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-white" type="button" data-mdb-ripple-color="dark">
          Search
        </button>
      </form> -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->




    <!-- Navbar 3.0 - Donte & Bailey -->
