<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <section class="h-100 gradient-form" style="background-image: url(../../assets/loginbackground.png) ; background-repeat: no-repeat; background-size: cover ;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-4 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="../../assets/logo.svg"
                      style="width: 350px;
                      margin-bottom: 20px;"

                      alt="logo">

                  </div>

                  <form>


                    <div class="form-outline mb-4">
                      <input type="username" id="form2Example11" class="form-control" placeholder="" [(ngModel)]="userToCheck.username" name = "username"/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" [(ngModel)]="userToCheck.password" name = "password"/>
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="d-grid col-6 mx-auto btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="../userprofile" type="button" (click)="tryToLogin()">Log
                        in</button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>

                      <button type="button" routerLink="../register" class="btn btn-outline-danger">Create new</button>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just social media </h4>
                  <p class="small mb-0">GarageMeet is a social media web application built for musicians, artists, and anyone who just wants to get together to jam out. With a sleek, modern bootstrap-based UI and Angular powered front-end, users have the ability to post about their latest projects for all their friends and fellow musicians to admire. In addition, users are able interact with others via liking, commenting, and replying to comments. GarageMeet's core feature will allow its users to create a band and recruit other users to come join the fun!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <form>
    <div class="imgcontainer">
      <img src="../../assets/logo.svg" alt="Avatar" class="img-fluid">
    </div>

    <div class="container">
      <div class = "input">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
      </div>
      <div class = "input">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>

      <div class = "btn-group-sm" role="group" aria-label="Basic example">
        <button type="submit">Login</button>
        <button type="button">Register</button>
      </div>


      <label>
        <input type="checkbox" checked="checked" name="remember" ><b> Remember me</b>
      </label>
    </div>
  </form> -->
</body>
</html>

<!-- https://i.pinimg.com/736x/e1/72/7a/e1727aa63e7184b90239ed79aaaf16d1.jpg -->
<!-- https://thumbs.dreamstime.com/b/defocused-dark-concert-background-purple-light-blurred-lighting-stage-live-perfomance-105569984.jpg -->
