<div style="color:#353d60; border-radius: 4px; border: 2px solid rgb(53, 61, 96); box-shadow: 0 0 0 2px rgb(53, 61, 96, .1);">
  <div class="modal-header" style="background-color: rgba(194, 198, 214, 0.5);">
    <h4 class="modal-title" id="exampleModalLabel">{{createPost.type}}</h4>
    <button type="button" style="margin-right: 2px;" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
    <div style="height: 200px;">
      <textarea placeholder="Start typing..." style="width: 100%; height: 100%; resize: none; border: none;" [(ngModel)]="createPost.entry"></textarea>
    </div>
    <div class="modal-footer" style="background-color: rgba(194, 198, 214, 0.5);">
      <button type="button" class="btn submit-btn" style="color: #F5756B; font-weight: 700; width: 10em; font-size: large;" (click)="close()">
        Submit
      </button>
    </div>
  </div>
