<div class="h-100 gradient-form" style="background-image: url(../../assets/loginbackground.png); background-repeat: no-repeat; background-size: cover ; padding-top: 110px;" [ngStyle]="{'opacity': opacity}">
  <app-navbar></app-navbar>
  <div class="container">

    <h1 class="d-flex justify-content-center" style="color: #F5756B;"> Band Groups </h1>
    <button class="btn create-band" style="font-weight: 700; color: #F5756B; border: #F5756B solid 3px; font-size: large;" (click)="openCreateGroupModal()">Start A Band</button>

    <!-- <div *ngFor=""> -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-2"> <!-- Several breakpoints for responsive layout on page size change -->
          <div class="card-body rounded-3" style="color:#F5756B; border: 3px solid #353d60; background-color: #F5756B;">
            <div class="card-header rounded-3" style="background-color: #353d60;">
              <h5>Benny and the Jets</h5> <!-- Band/Group Name -->
            </div>
            <div class="card-text" style="color: #353d60; font-weight: 500;">
              <p></p> <!-- Band/Group Description ps. Make sure to put character limit in creation Modal pss. character limit memes are strong with this one might have to check database -->
            </div>
            <div class="card-footer row rounded-3" style="background-color: #353d60;">
              <h5 class="col-8">Member Slots Left: 3<!-- Output remaining members positions based on member limit --></h5>
              <!-- Might have to add ngif to control whether it says "Join Group" or "Enter" if already joined and even "Closed" *Maybe even hide button?* if member limit is reached -->
              <a class="btn btn-primary col-4 band-btn" style="height: 40px; font-weight: 700; color: #353d60; border-color: aliceblue;">Join</a> <!-- Reminder Bailey, mess with button size later ;p -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-2"> <!-- Several breakpoints for responsive layout on page size change -->
          <div class="card-body rounded-3" style="color:#F5756B; border: 3px solid #353d60; background-color: #F5756B;">
            <div class="card-header rounded-3" style="background-color: #353d60;">
              <h5>Benny and the Jets</h5> <!-- Band/Group Name -->
            </div>
            <div class="card-text" style="color: #353d60; font-weight: 500;">
              Description text lol <!-- Band/Group Description -->
            </div>
            <div class="card-footer row rounded-3" style="background-color: #353d60;">
              <h5 class="col-8">Member Slots Left: 1<!-- Output remaining members positions based on member limit --></h5>
              <!-- Might have to add ngif to control whether it says "Join Group" or "Enter" if already joined and even "Closed" if member limit is reached -->
              <button class="btn btn-primary col-4 band-btn" style="height: 40px; font-weight: 700; color: #353d60; border-color: aliceblue;">Enter</button> <!-- Reminder Bailey, mess with button size later ;p -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-2"> <!-- Several breakpoints for responsive layout on page size change -->
          <div class="card-body rounded-3" style="color:#F5756B; border: 3px solid #353d60; background-color: #F5756B;">
            <div class="card-header rounded-3" style="background-color: #353d60;">
              <h5>Benny and the Jets</h5> <!-- Band/Group Name -->
            </div>
            <div class="card-text" style="color: #353d60; font-weight: 500;">
              Description text lol <!-- Band/Group Description -->
            </div>
            <div class="card-footer row rounded-3" style="background-color: #353d60;">
              <h5 class="col-8">Member Slots Left: 0<!-- Output remaining members positions based on member limit --></h5>
              <!-- Might have to add ngif to control whether it says "Join Group" or "Enter" if already joined and even "Closed" if member limit is reached -->
              <a class="btn btn-primary col-4 band-btn disabled" style="height: 40px; font-weight: 700; color: #353d60; border-color: aliceblue;">Closed</a> <!-- Reminder Bailey, mess with button size later ;p -->
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
