<header>
  <app-navbar></app-navbar>
</header>

<!-- style="background-image: url(../../assets/loginbackground.png); Potential background for band -->

<div class="h-100 gradient-form" style="background-repeat: no-repeat; background-size: cover ; padding-top: 10px;" [ngStyle]="{'opacity': opacity}" onload="">
  <div class="container">

    <h1 class="d-flex justify-content-center mb-3" style="color: #353d60;"> Band Groups </h1>
    <button class="btn create-band" style="font-weight: 700; color: #F5756B; border: #353d60 solid 3px; font-size: large;" (click)="openCreateGroupModal()">Start A Band</button>

    <div class="wrapper mt-3">
      <div *ngIf="bands[0].id === 0; else bandList">
        <h2 style="color:#353d60; margin-left: 3em; margin-top: 2em;">~No Bands To Show~</h2>
      </div>
      <ng-template #bandList>
        <div *ngFor="let band of bands">
          <div *ngIf="band.id === currBandMem.bandId">
            <div class="mt-2 bandsBox" style="background-color:#F5756B">
              <div class="card-body rounded-3">
                <div class="card-header rounded-3" style="color: #353d60;">
                  <h5>{{band.title}}</h5>
                </div>
                <div class="card-text mt-2 d-flex justify-content-center" style="color: #353d60; font-weight: 700;">
                  <p>{{band.description}}</p>
                </div>
                <div class="card-footer row rounded-3">
                  <h5 class="col-12" style="color: #353d60;">Member Slots Left: {{band.memberLimit}}</h5>
                  <div *ngIf="band.memberLimit > 0 && currBandMem.bandId != band.id">
                    <a class="btn col-12 band-btn" style="color: #F5756B; font-weight: 700; width: 10em;" (click)="attemptToJoin(band)">Join</a>
                  </div>
                  <div *ngIf="currBandMem.bandId === band.id" class="d-flex justify-content-end">
                    <a class="btn col-12 band-btn" style="color: #F5756B; font-weight: 700; width: 10em;" (click)="goToPage(band)">Enter</a>
                  </div>
                  <div *ngIf="band.memberLimit === 0 && currBandMem.bandId != band.id" class="d-flex justify-content-end">
                    <a class="btn col-12 band-btn disabled" style="color: #F5756B; font-weight: 700; width: 10em;">Full</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="band.id != currBandMem.bandId">
            <div class="mt-2 bandsBox">
              <div class="card-body rounded-3">
                <div class="card-header rounded-3" style="color: #353d60;">
                  <h5>{{band.title}}</h5>
                </div>
                <div class="card-text mt-2 d-flex justify-content-center" style="color: #353d60; font-weight: 700;">
                  <p>{{band.description}}</p>
                </div>
                <div class="card-footer row rounded-3">
                  <h5 class="col-12" style="color: #353d60;">Member Slots Left: {{band.memberLimit}}</h5>
                  <div *ngIf="band.memberLimit > 0 && currBandMem.bandId != band.id" class="d-flex justify-content-end">
                    <a class="btn col-12 band-btn" style="color: #F5756B; font-weight: 700; width: 10em;" (click)="attemptToJoin(band)">Join</a>
                  </div>
                  <div *ngIf="currBandMem.bandId === band.id" class="d-flex justify-content-end">
                    <a class="btn col-12 band-btn" style="color: #F5756B; font-weight: 700; width: 10em;" (click)="goToPage(band)">Enter</a>
                  </div>
                  <div *ngIf="band.memberLimit === 0 && currBandMem.bandId != band.id">
                    <a class="btn col-12 band-btn disabled" style="color: #F5756B; font-weight: 700; width: 10em;">Full</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
