<header>
  <app-navbar></app-navbar>
</header>

<div class="h-100 gradient-form" style="background-image: url(../../assets/loginbackground.png); background-repeat: no-repeat; background-size: cover ; padding-top: 10px;">
  <div class="container" style="color: #F5756B;">
    <h1 class="d-flex justify-content-center">-{{currBand.title}}-</h1> <!-- Put band/group name here -->
    <div class="row">
      <div class="col-lg-9 d-flex flex-column mt-2">
        <h3 class="d-flex justify-content-center"><u>Band Posts</u></h3>
        <div class="card-body rounded-3" style="background-color: #353d60; border: #F5756B solid 3px;">
          <div class="card-text" style="font-weight: 600;">
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex flex-column mt-2">
        <h3 class="d-flex justify-content-center"><u>Band Members</u></h3>
        <div class="card-body rounded-3" style="background-color: #353d60; border: #F5756B solid 3px;">
          <div class="card-text d-flex justify-content-center list-group">
            <ul>
              <!-- Route to individual user's profile -->
              <div *ngFor="let member of bandmembers">
                <li><button class="list-group-item bandmember" style="background: transparent; border-color: transparent; font-weight: 600; font-size: larger;" (click)="goToProfile(member)">{{member.username}}</button></li>
              </div>
            </ul>
            <button class="btn btn-lg leave-btn w-75" style="font-weight: 700; color: #353d60;" (click)="leaveBand()">Leave Band</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
