.bandmember:hover {
  border-radius: 2px;
    background-color: rgb(207, 207, 207);
  }

  .leave-btn {
    background-color: #353d60;
  }
  .leave-btn:hover {
    background-color: #606c9b;
  }


.homeFlex
{
    display: flex;
}

.scrollBox
{
    width: 70%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #353d60;
    border-right: 1px solid #353d60;
}

.post
{
    border: 1px transparent;
}

.postFeed
{
    margin-top: 38.5px;
}

.post:hover
{
    border-radius: 2px;
    /* background-color: rgb(229, 112, 106, .3); */
    background-color: rgb(53, 61, 96, .1);
}

.postButtons
{
    width: 33.3%;
}
