
<div class="page">
    <table>
<tr>
    <app-navbar></app-navbar>
</tr>
    </table>
    <form id="DEBUG_ONLY">   
    </form>
    
    <form>
        <br>
    </form>
    <div class="scrollBox">
        <table class="postFeed">
            <tr *ngFor="let post of posts;">
                <div class="post">
                    <div id="postContent" class="postBox">
                        <body>User ID: {{post.userId}}</body>
                        <body>Type of post: {{post.type}}</body>
                        <body>{{post.entry}}</body>
                    </div>
                    <table id="likeButton" class="likeTable">
                        <td><button (click)="GetPostID(post.id)" style="border-width: 0px; background: #00000000"><img style="width: 20px;"src="../../assets/vectors/heart-svgrepo-com.svg"></button></td>
                        <td class="likeFont">Likes: {{post.likes}}</td>
                    </table>
                    <br><br><br>
                </div>
                <br>
            </tr>
        </table>
    </div>
    
</div>
