.homeFlex
{
    display: flex;
}

.scrollBox
{
    width: 33.3%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #353d60;
    border-right: 1px solid #353d60;
}

.post
{
    border: 1px transparent;
}

.postFeed
{
    margin-top: 38.5px;
}

.post:hover
{
    border-radius: 2px;
    /* background-color: rgb(229, 112, 106, .3); */
    background-color: rgb(53, 61, 96, .1);
}

.postButtons
{
    width: 33.3%;
}

.commentsScrollBox
{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentsFeed
{
    margin-top: 38.5px;
}

.commentPost
{
    width: fit-content;
    border: 2px solid rgb(229, 112, 106);
    border-radius: 20px;
}

