.postBox
{
    position: relative;
    display: block;
    overflow-wrap: anywhere;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.post
{
    width: 450px;
    border-style: solid;
    border-width: 1px;
}

table.postFeed
{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    white-space: pre-line;
}

.likeTable
{
    margin-left: 5%;
}

.scrollBox
{
    margin-top: 7%;
    height:  800px;
    width: 600px;
    overflow-y: scroll;
    margin-left: 35%;
    margin-right: auto;
}

.commentsScrollBox
{
    margin-top: 7%;
    height:  800px;
    width: 600px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

.comment
{
    width: 450px;
    border-style: solid;
    border-width: 1px;
}

.commentsBox
{
    position: relative;
    display: block;
    overflow-wrap: anywhere;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.page
{
    height: 100vh;
    display: flex;
}

::-webkit-scrollbar {
    display: none;
}

.likeFont
{
    font-family: "Arial";
}
