
<div>
    <form id="DEBUG_ONLY">
        
    </form>
    
    <form [formGroup]="userPost" (ngSubmit)="onSubmit()">
        
        <div class ="btn-group" role="group" aria-label="Basic Example" >
            <button type="button" class="btn btn-secondary" id="Meetup" (click)="GetPostType('Meetup');">Meetup</button>
            <button type="button" class="btn btn-secondary" id="Venue Announcement"(click)="GetPostType('Venue Announcement');">Venue Announcement</button>
            <button type="button" class="btn btn-secondary" id="Update" (click)="GetPostType('Update');">Update</button>
            <button type="button" class="btn btn-secondary" id="Update" (click)="GetPostType('Looking For Band');">Looking for Band</button>
        </div>
        <br>
        <!-- DONT USE THIS IN FINAL BUILD. THIS IS JUST TO HARD PASS IN A USER ID -->
        User ID(FOR DEBUG PURPOSES ONLY): <input id="userid" type="text" formControlName="userId">
        <br>

        <input id="postText" type="text" formControlName="text">
        <button class="button" type="submit">Post</button>
    </form>
</div>